{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/relases/v5.15.0/css/all.css">
    <link rel="shortcut icon" type="image/png" href="'favicon.ico'"/>
</head>
<body>
<header>
    <p class="fig"><img src="/static/img/logo.jpeg" width=25%></p>
{#    <ul name="#top">#}
{#        <li><a href="#top">Главная</a></li>#}
{#        <li><a href="#about">О нас</a></li>#}
{#        <li><a href="#buy">Купить пригласительный</a></li>#}
{#    </ul>#}
<h1 name="#about" class="fig">О нас<h1>
<p font-size="10px" align="left">Мы позиционируемся как закрытое мероприятие, как вы могли уже наблюдать просто так вы билеты не купите, сначала нужно подать заявку на рассмотрение специалисту. Почему так? Мы очень хотим чтобы вам понравилось, чтобы у вас не было какой то неприязни и разочарования, вы просто отдыхали и наслаждались вечером. Для вас будет работать FREE бар( безлимитный с большим выбором алкоголя), различные закуски, фотограф, видеограф, DJ, и ещё множество персонала которые будет делать всё для того чтобы у вас остались только положительные эмоции!</p>
{% block content %}{% endblock %}
</header>
<footer>
    <p>&copy; 2023 Александр Мартынов. All rights reserved.</p>
    <p align="right"><a href="http://vk.com/schubar_dev>">Разработано Станиславом Чубарем</a></p>
</footer>
</body>
</html>