@font-face {
  font-family: "gunnyrewritten";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("gunnyrewritten"),
       /* Если не получилось, загрузит woff2 */
       url("/static/css/gunnyrewritten.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/static/css/gunnyrewritten.woff") format("woff");
}

body {
    background: #0000;
    color: aliceblue;
    font-family: "gunnyrewritten";
}

a {
    color: white;
}
aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    min-height: 100%;
    color: #FFFFFF;
    border-right: 5px solid #4d4d4d;
}
header {
    background: #181818;
    font-family: "gunnyrewritten";
    width: 100%;
    padding: 2.5%;
    color: powderblue;
}
footer {
    background: #4d4d4d;
    color: aquamarine;
    width: 100%;
}

form {
    background: #0000;
}

main {
    background: #0000;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.form-row > input {
  flex: 1;
}

div.field {
  padding-bottom: 5px;
}

div.field label {
  display: block;
  float: left;
  width: 70px;
  height: 15px;
}