@font-face {
  font-family: "gunnyrewritten";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("gunnyrewritten"),
       /* Если не получилось, загрузит woff2 */
       url("/static/css/gunnyrewritten.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/static/css/gunnyrewritten.woff") format("woff");
}

body {
    background: #090909;
    color: whitesmoke;
    font-family: "gunnyrewritten";
}

a {
    color: whitesmoke;
}
aside {
    float: left;
    background: #050505;
    width: 20%;
    padding: 2.5%;
    min-height: 100%;
    color: #FFFFFF;
    border-right: 5px solid #4d4d4d;
}
.fig {
    text-align: center; /* Выравнивание по центру */
    font-size: large;
    border-radius: 10px;
   }
header {
    background: #040404;
    font-family: "Arial Narrow";
    width: 100%;
    padding: 2.5%;
    color: whitesmoke;
}
footer {
    background: #040404;
    color: whitesmoke;
    width: 100%;
}

form {
    background: #040404;
    font-size: 25px;
    border-radius: 10px;
}

main {
    background: #040404;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.form-row > input {
  flex: 1;
}

div.field {
  padding-bottom: 5px;
}

div.field label {
  display: block;
  float: left;
  width: 70px;
  height: 15px;
}