body {
    background: #0000;
    color: aliceblue;
}
a {
    color: white;
}
aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    min-height: 100%;
    color: #FFFFFF;
    border-right: 5px solid #4d4d4d;
}
header {
    background: #181818;
    width: 100%;
    padding: 2.5%;
    color: #ADADAD;
}
footer {
    background: #4d4d4d;
    color: aquamarine;
    width: 100%;
}

form {
    background: #0000;
}

main {
    background: #0000;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.form-row > input {
  flex: 1;
}

div.field {
  padding-bottom: 5px;
}

div.field label {
  display: block;
  float: left;
  width: 70px;
  height: 15px;
}